@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin flex($ai: null, $jc: null, $fd: null) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

@mixin ta($d: center) {
  text-align: $d;
}

@mixin button($w, $h, $color, $bg, $bdrs:0) {
  width: $w;
  height: $h;
  color: $color;
  background-color: $bg;
  border-radius: $bdrs;
}